/* FONTS */
@import url(../css/clash-display.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* VARIABLES */
:root {
  --c-dark: #212529;
  --c-brand: #4e57d4;
  --c-brand-light: #6970dd;
  --c-brand-rgb: 78, 87, 212;
  --c-body: #727272;
  --font-base: "ClashDisplay", sans-serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand-light);
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.theme-shadow {
  box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
  position: relative;
  /* overflow: hidden; */
}

.image-zoom-wrapper {
  overflow: hidden;
  position: relative;
}

.image-zoom-wrapper img {
  transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
  transform: scale(1.1);
}

/* NAVBAR */
.navbar {
  box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: var(--c-dark);
}

.navbar-nav .nav-link.active {
  color: var(--c-brand);
}

/* BTN */
.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}

.btn-brand {
  background-color: var(--c-brand);
  border-color: var(--c-brand);
  color: white;
}

.btn-brand:hover {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand-light);
  color: white;
}

/* HERO */
#hero {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.507),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/hero-1.jpg);
  background-position: center;
  background-size: cover;
}

/* SECTION TITLE */
.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--c-brand);
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* ICONBOX */
.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--c-brand-rgb), 0.1);
  color: var(--c-brand);
  font-size: 34px;
  flex: none;
}

/* SERVICE */
.service {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background: rgba(var(--c-brand-rgb), 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: var(--transition);
}

.service:hover::after {
  width: 100%;
  height: 100%;
  background: var(--c-brand);
  z-index: -1;
}

.service:hover h5,
.service:hover p {
  color: white;
}

.service:hover .iconbox {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/* COUNTER */
#counter {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.8),
      rgba(var(--c-brand-rgb), 0.8)
    ),
    url(../images/counter.jpg);
  background-position: center;
  background-size: cover;
}

/* PORTFOLIO */
.portfolio-item .iconbox {
  background-color: var(--c-brand);
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.portfolio-item:hover .iconbox {
  opacity: 1;
  top: 50%;
}

/* REVIEW */
.review small {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--c-brand);
}

.review-head {
  position: relative;
}

.review-head::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -14px;
  background-color: white;
  transform: rotate(45deg);
}

/* TEAM */
.team-member-content {
  background-color: var(--c-brand);
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: calc(100% - 50px);
  transform: translateX(-50%);
  padding: 24px;
  transition: var(--transition);
  opacity: 0;
}

.team-member:hover .team-member-content {
  opacity: 1;
  bottom: 24px;
}

/* CONTACT */
#contact {
  position: relative;
  z-index: 2;
}

#contact::after {
  content: "";
  width: 100%;
  height: 70%;
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.8),
      rgba(var(--c-brand-rgb), 0.8)
    ),
    url(../images/counter.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#contact .form-control {
  border-radius: 0;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: var(--c-brand);
}

/* FOOTER */
footer {
  padding-top: 120px;
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer li,
footer p,
footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .line {
  width: 40px;
  height: 4px;
  background-color: var(--c-brand);
  margin-top: 12px;
  margin-bottom: 24px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: var(--c-brand);
  color: white;
}

/* From theme auth */
/*--------------------------------------------------------------
# Stats Section
--------------------------------------------------------------*/
.stats-item{
  background: white;
  padding: 1em;
  height: 3em;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 1em;
  padding-top: 2em;
}
.stats-item .bi{
  font-size: 3em;
}
.stats-item p{
  font-size: 1em;
}
.purecounter{
  color: var(--c-brand);
  font-size: 36px;
  display: block;
  font-weight: 600;
}

/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing .pricing-tem {
  background-color: white;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  text-align: center;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  height: 100%;
}

@media (min-width: 1200px) {
  .pricing .pricing-tem:hover {
    transform: scale(1.1);
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  }
}

.pricing h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.pricing .price {
  font-size: 36px;
  color: var(--c-body);
  font-weight: 600;
  font-family: var(--font-base);
}

.pricing .price sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .price span {
  color: color-mix(in srgb, var(--c-brand), transparent 50%);
  font-size: 16px;
  font-weight: 300;
}

.pricing .icon {
  padding: 20px 0;
}

.pricing .icon i {
  font-size: 48px;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: var(--c-brand);
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}

.pricing ul li {
  padding-bottom: 10px;
}

.pricing ul .na {
  color: color-mix(in srgb, var(--c-brand), transparent 70%);
  text-decoration: line-through;
}

.pricing .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: var(--accent-color);
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-base);
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid var(--c-brand-light);
}

.pricing .btn-buy:hover {
  background: var(--c-brand-light);
  color: white;
}

.pricing .featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: var(--c-brand);
  color: white;
}
.pricing-head{
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: 
color-mix(in srgb, var(--c-brand-light), transparent 90%);
  color: var(--c-brand-light);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  font-family: var(--font-base);
}

.pricing-cont{
  text-align: center;
}

/* Team */

/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.team .team-member {
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
}

.team .team-member .member-img {
  position: relative;
  overflow: hidden;
}

.team .team-member .member-img:after {
  position: absolute;
  content: "";
  left: -1px;
  right: -1px;
  bottom: -1px;
  height: 100%;
  background-color: white;
  -webkit-mask: url("../images/team-shape.svg") no-repeat center bottom;
  mask: url("../images/team-shape.svg") no-repeat center bottom;
  -webkit-mask-size: contain;
  mask-size: contain;
  z-index: 1;
}

.team .team-member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: color-mix(in srgb, var(--c-body), transparent 60%);
  z-index: 2;
}

.team .team-member .social a {
  transition: color 0.3s;
  color: color-mix(in srgb, var(--c-brand), transparent 50%);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.team .team-member .social a:hover {
  color: var(--c-brand);
}

.team .team-member .social i {
  font-size: 18px;
}

.team .team-member .member-info {
  padding: 10px 15px 20px 15px;
}

.team .team-member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
}

.team .team-member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 800;
  color: color-mix(in srgb, var(--c-brand), transparent 50%);
}

.team .team-member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: color-mix(in srgb, var(--c-dark), transparent 30%);
}

.team .team-member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}

.team .team-member:hover .social {
  right: 8px;
  opacity: 1;
}


/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients .swiper-slide img {
  transition: 0.3s;
  opacity: 0.5;
}

.clients .swiper-slide img:hover {
  opacity: 1;
}

.clients .swiper-wrapper {
  height: auto;
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: color-mix(in srgb, var(--c-brand), transparent 80%);
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--c-brand-light);
}


/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.features .feature-box i {
  background: color-mix(in srgb, var(--c-brand-light), transparent 92%);
  color: var(--c-brand-light);
  line-height: 0;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box:hover i {
  background: var(--c-brand-light);
  color: white;
}

/*--------------------------------------------------------------
# Alt Features Section
--------------------------------------------------------------*/
.alt-features .icon-box {
  display: flex;
}

.alt-features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.alt-features .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: var(--c-brand-light);
  margin-right: 15px;
}

.alt-features .icon-box p {
  font-size: 15px;
  color: color-mix(in srgb, var(--c-brand), transparent 30%);
  margin-bottom: 0;
}
